# Cross-platform
fastapi
uvicorn
pillow
psutil
tk
opencv-python
speedtest-cli
GPUtil
gps3
pyserial
requests
setuptools
pyperclip
plyer
qrcode
websockets

# Platform-specific
pystray
win10toast
pypiwin32==223

# For tests
httpx
pytest
